In [1]:
import pandas as pd
pd.options.display.max_rows = 100
orderlines = pd.read_csv('orderlines.csv')

In [2]:
#id – a unique identifier for each row in this file
#id_order – corresponds to orders.order_id
#product_id – an old identifier for each product, nowadays not in use
#product_quantity – how many units of that product were purchased on that order
#sku – stock keeping unit: a unique identifier for each product
#unit_price – the unitary price (in euros) of each product at the moment of placing that order
#date – timestamp for the processing of that product

In [3]:
#There are 204.855 different oders (order_id)
#There are 7951 different product (sku)
#The highest price is 999.99

#product_id is empty

In [4]:
#Some product_quantities seem pretty high - 999 (2x), 800, 555 correct?
#Unit price and date are objects
#Product APP1465 in row with id 1268645 has a price of -119.0

In [5]:
orderlines['unit_price'] = pd.to_numeric(orderlines['unit_price'], errors='coerce')

In [6]:
orderlines['unit_price'].nsmallest(10)

77008   -119.0
53515      0.0
53530      0.0
56529      0.0
56562      0.0
56576      0.0
56617      0.0
56636      0.0
56641      0.0
56648      0.0
Name: unit_price, dtype: float64

In [7]:
orderlines.loc[77008]

id                              1268645
id_order                         365886
product_id                            0
product_quantity                      1
sku                             APP1465
unit_price                       -119.0
date                2017-06-15 12:48:54
Name: 77008, dtype: object

In [8]:
orderlines['product_quantity'].nlargest(10)

53860     999
68712     999
57796     800
57306     555
40813     201
136675    200
204637    192
246048    164
27779     126
285492    125
Name: product_quantity, dtype: int64

In [9]:
orderlines['product_quantity'].nsmallest(10)

0     1
1     1
2     1
3     1
4     1
6     1
7     1
8     1
9     1
11    1
Name: product_quantity, dtype: int64

In [10]:
orderlines.duplicated().sum()

0

In [21]:
orderlines.loc[orderlines['unit_price'] == 54.]

,id,id_order,product_id,product_quantity,sku,unit_price,date
3331,1130121,302587,0,1,APP0023,54.0,2017-01-04 16:50:54
39261,1201950,333762,0,1,APP0023,54.0,2017-03-09 21:55:55
51615,1224283,344294,0,1,APP1190,54.0,2017-04-07 15:43:43
74927,1264963,363996,0,1,APP0023,54.0,2017-06-09 18:45:02
82071,1277426,370205,0,2,APP0023,54.0,2017-06-29 08:30:12
...,...,...,...,...,...,...,...
263499,1601309,506300,0,1,APP1190,54.0,2018-02-05 15:29:20
269677,1611174,510414,0,1,APP1151,54.0,2018-02-12 23:00:47
277825,1625039,516519,0,1,DLK0103,54.0,2018-02-23 14:38:34
281271,1630986,519190,0,1,APP1151,54.0,2018-02-28 23:17:40
282059,1632161,519725,0,1,APP1151,54.0,2018-03-01 23:58:25

In [20]:
orderlines.loc[orderlines['sku'] == 'APP0023']['unit_price'].unique()

array([55.99, 59.  , 54.  , 56.05, 54.99, 53.99, 51.29, 48.76, 60.49,
       49.99, 44.63])

In [22]:
orderlines.loc[orderlines['id_order'] == 299610]

,id,id_order,product_id,product_quantity,sku,unit_price,date
81,1119255,299610,0,1,APP0023,55.99,2017-01-01 10:52:42
83,1119257,299610,0,1,APP1214,84.99,2017-01-01 10:53:10

In [19]:
orderlines.loc[orderlines['sku'] == 'APP0023']

,id,id_order,product_id,product_quantity,sku,unit_price,date
81,1119255,299610,0,1,APP0023,55.99,2017-01-01 10:52:42
756,1120547,300254,0,1,APP0023,55.99,2017-01-02 08:01:14
1092,1121337,300553,0,1,APP0023,55.99,2017-01-02 13:39:48
1254,1121650,300702,0,1,APP0023,55.99,2017-01-02 16:27:48
1268,1121676,300711,0,1,APP0023,55.99,2017-01-02 16:35:08
...,...,...,...,...,...,...,...
95009,1300880,381329,0,1,APP0023,59.00,2017-07-24 13:02:34
95068,1300995,381384,0,1,APP0023,59.00,2017-07-24 14:37:37
95248,1301319,381535,0,1,APP0023,59.00,2017-07-24 20:12:10
95451,1301654,381685,0,3,APP0023,59.00,2017-07-25 09:55:01
112565,1344683,396326,0,1,APP0023,59.00,2017-09-04 12:21:15

In [ ]:
orderlines

In [ ]:
orderlines.describe()

In [ ]:
orderlines.info()

In [ ]:
orderlines.isna().sum()