In [1]:
import pandas as pd
pd.options.display.max_rows = 100
brands = pd.read_csv('brands.csv')
orderlines = pd.read_csv('orderlines.csv')
orders = pd.read_csv('orders.csv')
products = pd.read_csv('products.csv')

In [2]:
#order_id – a unique identifier for each order
#created_date – a timestamp for when the order was created
#total_paid – the total amount paid by the customer for this order, in euros
#state 
#“Shopping basket” – products have been placed in the shopping basket
#“Place Order” – the order has been placed, but is awaiting shipment details 
#“Pending” – the order is awaiting payment confirmation
#“Completed” – the order has been placed and paid, and the transaction is completed.
#“Cancelled” – the order has been cancelled and the payment returned to the customer.

In [ ]:
#orders are from 2017-01-01 to 2018-03-14
#The maximum amount paid was 214.747

In [3]:
#total_paid has 5 missing values - can be deleted
#created_date should become datetime datatype

In [4]:
orders

        order_id         created_date  total_paid            state
0         241319  2017-01-02 13:35:40       44.99        Cancelled
1         241423  2017-11-06 13:10:02      136.15        Completed
2         242832  2017-12-31 17:40:03       15.76        Completed
3         243330  2017-02-16 10:59:38       84.98        Completed
4         243784  2017-11-24 13:35:19      157.86        Cancelled
...          ...                  ...         ...              ...
226904    527397  2018-03-14 13:56:38       42.99      Place Order
226905    527398  2018-03-14 13:57:25       42.99  Shopping Basket
226906    527399  2018-03-14 13:57:34      141.58  Shopping Basket
226907    527400  2018-03-14 13:57:41       19.98  Shopping Basket
226908    527401  2018-03-14 13:58:36       18.98      Place Order

[226909 rows x 4 columns]

In [26]:
orders.loc[orders['order_id'] == 299610]

     order_id        created_date  total_paid      state
269    299610 2017-01-01 11:00:40      152.97  Completed

In [5]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226909 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226909 non-null  int64
 1   created_date  226909 non-null  object
 2   total_paid    226904 non-null  float64
 3   state         226909 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.9+ MB

In [6]:
orders.describe()

            order_id     total_paid
count  226909.000000  226904.000000
mean   413296.482480     569.225818
std     65919.250331    1761.778002
min    241319.000000       0.000000
25%    356263.000000      34.190000
50%    413040.000000     112.990000
75%    470553.000000     525.980000
max    527401.000000  214747.530000

In [7]:
orders.duplicated().sum()

0

In [8]:
orders.total_paid.isna().value_counts()

total_paid
False    226904
True          5
Name: count, dtype: int64

In [9]:
orders.total_paid.isna().value_counts(normalize=True)

total_paid
False    0.999978
True     0.000022
Name: proportion, dtype: float64

In [11]:
orders["created_date"] = pd.to_datetime(orders["created_date"])

In [13]:
orders['created_date'].min()

Timestamp('2017-01-01 00:07:19')

In [14]:
orders['created_date'].max()

Timestamp('2018-03-14 13:58:36')

In [15]:
orders['total_paid'].max()

214747.53

In [16]:
orders['total_paid'].min()

0.0

In [19]:
orders['order_id'].nunique()

226909

In [21]:
orders.groupby('state')['order_id'].count()

state
Cancelled            7233
Completed           46605
Pending             14379
Place Order         40883
Shopping Basket    117809
Name: order_id, dtype: int64

In [23]:
orders.groupby('state')['order_id'].nunique()

state
Cancelled            7233
Completed           46605
Pending             14379
Place Order         40883
Shopping Basket    117809
Name: order_id, dtype: int64