In [1]:
import pandas as pd
pd.options.display.max_rows = 100
brands = pd.read_csv('brands.csv')

In [2]:
#short – the 3-character code by which the brand can be identified in the first 3 characters of products.sku
#long – brand name

In [3]:
#brands
brands.head(10)
#brands.tail(10)

  short        long
0   8MO   8Mobility
1   ACM        Acme
2   ADN      Adonit
3   AII       Aiino
4   AKI      Akitio
5   ALL   Allocacoc
6   AP2       Apple
7   APP       Apple
8   BAN  Band&Strap
9   BEA       Beats

In [4]:
brands.describe()

       short    long
count    187     187
unique   187     181
top      8MO  Mophie
freq       1       2

In [5]:
brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   short   187 non-null    object
 1   long    187 non-null    object
dtypes: object(2)
memory usage: 3.1+ KB

In [6]:
brands.duplicated().sum()

0

In [9]:
brands.short.isna().value_counts()

short
False    187
Name: count, dtype: int64