In [1]:
import pandas as pd
pd.options.display.max_rows = 100
orders = pd.read_csv('orders.csv')

In [2]:
#total_paid has 5 missing values - rows have been deleted
#check for number of orders

In [3]:
orders

        order_id         created_date  total_paid            state
0         241319  2017-01-02 13:35:40       44.99        Cancelled
1         241423  2017-11-06 13:10:02      136.15        Completed
2         242832  2017-12-31 17:40:03       15.76        Completed
3         243330  2017-02-16 10:59:38       84.98        Completed
4         243784  2017-11-24 13:35:19      157.86        Cancelled
...          ...                  ...         ...              ...
226904    527397  2018-03-14 13:56:38       42.99      Place Order
226905    527398  2018-03-14 13:57:25       42.99  Shopping Basket
226906    527399  2018-03-14 13:57:34      141.58  Shopping Basket
226907    527400  2018-03-14 13:57:41       19.98  Shopping Basket
226908    527401  2018-03-14 13:58:36       18.98      Place Order

[226909 rows x 4 columns]

In [4]:
orders_df = orders.copy()

In [5]:
orders_df.total_paid.isna().value_counts(normalize=True)

total_paid
False    0.999978
True     0.000022
Name: proportion, dtype: float64

In [6]:
orders_df = orders_df.loc[~orders.total_paid.isna(), :]

In [7]:
orders_df["created_date"] = pd.to_datetime(orders_df["created_date"])

In [8]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 226904 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226904 non-null  int64
 1   created_date  226904 non-null  datetime64[ns]
 2   total_paid    226904 non-null  float64
 3   state         226904 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 8.7+ MB

In [9]:
orders_df['order_id'].count()

226904

In [10]:
orders_df['order_id'].nunique()

226904

In [11]:
# Overview over status of orders
orders_df.groupby('state')['order_id'].nunique()

state
Cancelled            7233
Completed           46605
Pending             14374
Place Order         40883
Shopping Basket    117809
Name: order_id, dtype: int64

In [12]:
#Revenue of orders
#orders_df['total_paid']
round(orders_df['total_paid'].sum(), 2)

129159615.07

In [13]:
#Revenue of cancelled orders
round(orders_df.loc[orders_df['state'] == 'Cancelled', 'total_paid'].sum(),2)

5545816.86

In [14]:
orders_cl = orders_df

In [15]:
orders_cl.to_csv("orders_cl.csv", index=False)