In [1]:
import pandas as pd
pd.options.display.max_rows = 100
products = pd.read_csv('products.csv')

In [2]:
#Removed 8746 duplicated rows
#Removed 46 row where the price was NAN
#Removed 366 rows where the price contained two dots
#No further changes regarding promo_price - column not useful information and information not needed

#check rows with type with more than 4 digits

In [3]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19326 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          19326 non-null  object
 1   name         19326 non-null  object
 2   desc         19319 non-null  object
 3   price        19280 non-null  object
 4   promo_price  19326 non-null  object
 5   in_stock     19326 non-null  int64
 6   type         19276 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.0+ MB

In [4]:
products_df = products.copy()

In [5]:
products_df.duplicated().sum()

8746

In [6]:
#drop the duplicated rows
#products_df.drop_duplicates(inplace=True) #then it gets saved without assigning a variable
products_df = products_df.drop_duplicates()

In [7]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10580 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          10580 non-null  object
 1   name         10580 non-null  object
 2   desc         10573 non-null  object
 3   price        10534 non-null  object
 4   promo_price  10580 non-null  object
 5   in_stock     10580 non-null  int64
 6   type         10530 non-null  object
dtypes: int64(1), object(6)
memory usage: 661.2+ KB

In [8]:
#Set the Product name for the missing values in description
products_df.loc[products_df['desc'].isna(), 'desc'] = products_df.loc[products_df['desc'].isna(), 'name']

In [9]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10580 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          10580 non-null  object
 1   name         10580 non-null  object
 2   desc         10580 non-null  object
 3   price        10534 non-null  object
 4   promo_price  10580 non-null  object
 5   in_stock     10580 non-null  int64
 6   type         10530 non-null  object
dtypes: int64(1), object(6)
memory usage: 661.2+ KB

In [10]:
products_df.sku.isna().sum()

0

In [11]:
products_df.price.isna().sum()

46

In [12]:
#Removed all rows where price was nan
products_df = products_df.loc[~products_df.price.isna(), :]
#alternativ: products_df = products_df.dropna(subset=['price'])

In [13]:
#How many rows have 2 dots in numer-string?
products_df.price.str.contains("\d+\.\d+\.\d+").value_counts()

price
False    10157
True       377
Name: count, dtype: int64

In [14]:
two_dot_percentage = ((products_df.price.str.contains("\d+\.\d+\.\d+").value_counts()[1] / products_df.shape[0])*100).round(2)
print(f"The 2 dot problem represents {two_dot_percentage}% of the rows in our DataFrame")

The 2 dot problem represents 3.58% of the rows in our DataFrame

In [15]:
#Remove rows (skus) with prices with 2 dots
two_dot_sku_list = products_df.loc[products_df.price.str.contains("\d+\.\d+\.\d+"), "sku"]
products_df = products_df.loc[~products_df.sku.isin(two_dot_sku_list)]

In [16]:
#How many rows have 3 numbers after the decimal point?
products_df.price.str.contains("\d+\.\d{3,}").value_counts()

price
False    9992
True      165
Name: count, dtype: int64

In [17]:
#Remove rows (skus) with prices with 3 numbers after the decimal point
three_decimals_sku_list = products_df.loc[products_df.price.str.contains("\d+\.\d{3,}"), "sku"]
products_df = products_df.loc[~products_df.sku.isin(three_decimals_sku_list)]

In [18]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9992 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          9992 non-null   object
 1   name         9992 non-null   object
 2   desc         9992 non-null   object
 3   price        9992 non-null   object
 4   promo_price  9992 non-null   object
 5   in_stock     9992 non-null   int64
 6   type         9946 non-null   object
dtypes: int64(1), object(6)
memory usage: 624.5+ KB

In [19]:
#Turn price into datatype float
products_df['price'] = pd.to_numeric(products_df["price"])

In [20]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9992 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          9992 non-null   object
 1   name         9992 non-null   object
 2   desc         9992 non-null   object
 3   price        9992 non-null   float64
 4   promo_price  9992 non-null   object
 5   in_stock     9992 non-null   int64
 6   type         9946 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 624.5+ KB

In [21]:
products_df.promo_price.isna().sum()

0

In [22]:
products_df.promo_price.str.contains("\d+\.\d+\.\d+").value_counts()
#we do not need the promo_price. Therefore we do not delete the rows

promo_price
False    5685
True     4307
Name: count, dtype: int64

In [23]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9992 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          9992 non-null   object
 1   name         9992 non-null   object
 2   desc         9992 non-null   object
 3   price        9992 non-null   float64
 4   promo_price  9992 non-null   object
 5   in_stock     9992 non-null   int64
 6   type         9946 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 624.5+ KB

In [24]:
products_cl = products_df.drop(columns=["promo_price"])

In [25]:
products_cl

,sku,name,desc,price,in_stock,type
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,1,8696
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,0,13855401
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,0,1387
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,0,1230
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,1,1364
...,...,...,...,...,...,...
19321,BEL0376,Belkin Travel Support Apple Watch Black,compact and portable stand vertically or horiz...,29.99,1,12282
19322,THU0060,"Enroute Thule 14L Backpack MacBook 13 ""Black",Backpack with capacity of 14 liter compartment...,69.95,1,1392
19323,THU0061,"Enroute Thule 14L Backpack MacBook 13 ""Blue",Backpack with capacity of 14 liter compartment...,69.95,1,1392
19324,THU0062,"Enroute Thule 14L Backpack MacBook 13 ""Red",Backpack with capacity of 14 liter compartment...,69.95,0,1392
19325,THU0063,"Enroute Thule 14L Backpack MacBook 13 ""Green",Backpack with capacity of 14 liter compartment...,69.95,1,1392

In [26]:
#Save cleaned table as csv
products_cl.to_csv("products_cl.csv", index=False)